#!/usr/bin/make -f
export DH_VERBOSE=1

target=riscv64-unknown-elf

package=gdb-riscv
top_dir=$(shell pwd)
gdb_dir=$(shell pwd)/..
stampdir=debian/stamp

deb_version := $(shell dpkg-parsechangelog | sed -ne "s/^Version: \(.*\)/\1/p")
deb_upstream_version := $(shell echo $(deb_version) | cut -d- -f1)
base_version := $(shell echo $(deb_version) | sed -e 's/\([1-9][0-9]*\.[0-9]\+\).*-.*/\1/')

binutils_version=2.35

upstream_dir=binutils-$(binutils_version)
src_dir=$(upstream_dir)
build_dir=build

unpack_stamp=$(stampdir)/unpack
tar_stamp=$(stampdir)/tar

export DEB_CFLAGS_APPEND   = -I$(top_dir)/../prerequisites/host-libs/zlib/include
export DEB_CPPFLAGS_APPEND = -I$(top_dir)/../prerequisites/host-libs/zlib/include
export DEB_LDFLAGS_APPEND  = -L$(top_dir)/../prerequisites/host-libs/zlib/lib \
                             -L$(top_dir)/../prerequisites/host-libs/usr/lib

buildflags=$(shell dpkg-buildflags --export=configure)

configure_flags = \
	--target=$(target) \
	--exec-prefix=\$${prefix}/lib \
	--bindir=\$${prefix}/bin \
	--infodir=\$${prefix}/share/doc/$(package)/info \
	--htmldir=\$${prefix}/share/doc/$(package)/html \
	--pdfdir=\$${prefix}/share/doc/$(package)/pdf \
	--disable-nls \
	--enable-gdb  \
	--disable-sim \
	--disable-gas \
	--disable-binutils \
	--disable-ld \
	--disable-gprof \
	--disable-gold \
	--with-libexpat \
	--with-lzma=no \
	--with-python=python3 \
	--with-system-gdbinit=\$${prefix}/lib/$(target)/lib/gdbinit \
	--with-libexpat-prefix=$(top_dir)/../prerequisites/host-libs/usr \
	--with-gdb-datadir=\$${prefix}/lib/$(target)/share/gdb \
	"--with-pkgversion=$(deb_version)" \
	$(buildflags)

%:
	dh $@ -D$(src_dir) -B$(build_dir) --with autotools-dev --parallel

$(unpack_stamp): $(tar_stamp)
	set -ex; \
		for patch in debian/patches/[0-9]*.patch; do \
			echo Applying patch "$$patch"; \
			patch -d $(src_dir) -p2 < "$$patch"; \
		done
	touch $@

$(tar_stamp):
	tar xf $(gdb_dir)/binutils-$(binutils_version).tar.*
	mkdir -p $(stampdir)
	touch $@

override_dh_autoreconf: $(unpack_stamp)
	@echo "do not reconfigure with autoconf, that's way too painful"
#	autoreconf2.64 -f -i $(src_dir)

override_dh_auto_configure: $(unpack_stamp)
	mkdir -p $(build_dir)
	dh_auto_configure -D$(src_dir) -B$(build_dir) -- $(configure_flags)

override_dh_auto_clean:
	if [ -d $(src_dir) ]; then dh_auto_clean -D$(src_dir) -B$(build_dir); fi
	rm -rf $(src_dir) $(build_dir) $(stampdir) debian/tmp testrun.*

override_dh_auto_test:
	@echo "no testing, that's way too painful"
	# The test cases doesn't pass using sim as target

override_dh_gencontrol:
	dh_gencontrol -a -- -v$(deb_version) -Vlocal:Version=$(deb_upstream_version) -Vgdb:Version=$(source_version) -VBuilt-Using="$(BUILT_USING)"

override_dh_auto_install:
	mkdir -p $(top_dir)/debian/tmp
	cd $(build_dir) && make install DESTDIR=$(top_dir)/debian/tmp

override_dh_installchangelogs:
	dh_installchangelogs $(upstream_dir)/ChangeLog

override_dh_strip:
	dh_strip -X.a
